<div id="overlay-right">
    <a href="https://github.com">
        <img class="icon icon-48 round" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github" />
    </a>
    <a href="https://stackblitz.com">
        <img class="icon icon-48 round" src="https://www.finsmes.com/wp-content/uploads/2022/04/stackblitz.jpeg" alt="github" />
    </a>
    <a href="https://docker.com">
        <img class="icon icon-48 round" src="https://cdn-icons-png.flaticon.com/512/919/919853.png" alt="github" />
    </a>
</div>
