<div id="overlay-left">    
    <img class="icon icon-48" src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="Hide Options"
        style="margin-left: 16px; margin-right: 16px; margin-top: 16px; margin-bottom: 32px; float: right"
        onclick="hideOptions()" />

    <hr style="margin-top: 80px">
    <h4>Guides</h4>

    <button class="options-link" onclick="location.href='/guides/jira/local-server';">
        <img class="icon icon-32"
            src="https://toppng.com/uploads/thumbnail/jira-software-logo-jira-software-logo-11562914188uzadsiuqmj.png"
            alt="" />
        Local Server
    </button>
    <button class="options-link" onclick="location.href='/guides/css/pixel-calc';">
        <img class="icon icon-32"
            src="https://cdn-icons-png.flaticon.com/512/732/732190.png"
            alt="" />
        Pixel calc
    </button>
    <button class="options-link" onclick="location.href='/guides/javascript/epoch-time';">
        <img class="icon icon-32"
            src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
            alt="" />
        Epoch Time
    </button>
    <button class="options-link" onclick="location.href='/guides/javascript/copy-to-clipboard';">
        <img class="icon icon-32"
            src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
            alt="" />
        Copy to Clipboard
    </button>

    <button class="options-link" onclick="location.href='/guides/docker/export-and-import';">
        <img class="icon icon-32"
            src="https://www.docker.com/wp-content/uploads/2022/03/Moby-logo.png"
            alt="" />
        Export & Import
    </button>

    <button class="options-link" onclick="location.href='/guides/git/credential-helper';">
        <img class="icon icon-32"
            src="https://git-scm.com/images/logos/downloads/Git-Icon-Black.png"
            alt="" />
        Credential Helper
    </button>

    <button class="options-link" onclick="location.href='/guides/nodejs/xml-validation';">
        <img class="icon icon-32"
            src="https://cdn.iconscout.com/icon/free/png-256/node-js-1174925.png"
            alt="" />
        XML Validation
    </button>

</div>
