<td id="nav">
  <div style="display: flex; justify-content: left; align-items: center">
    <!-- Burger Menu -->
    <img class="icon" src="/images/menu.png" alt="Burger Menu" style="margin-left: 16px; margin-right: 16px" />
    <!-- Homepage Link -->
    <center>
      <a href="/">
        <img id="homeicon" src="/images/redeye.png" alt="Home Icon" style="margin-left: 16px; margin-right: 16px" />
      </a>
    </center>
  </div>
</td>