<td id="nav">
  <div style="display: flex; justify-content: left; align-items: center">
    <!-- Burger Menu -->
    <img class="icon icon-48" src="/images/menu.png" alt="Burger Menu" style="margin-left: 16px; margin-right: 16px"
      onclick="showOptions()" />
    <!-- Homepage Link -->
    <center>
      <a href="/">
        <img id="homeicon"
          src="https://gardenandgun.com/wp-content/uploads/2020/05/GGEmoji_Steel_1500x1500-1100x1100.png"
          alt="Home Icon" style="margin-left: 16px; margin-right: 16px" />
      </a>
    </center>
  </div>
</td>