<td id="search">
  <form id="searchform" action="/search" method="GET">
    <input id="searchfield" name="query" type="text" placeholder="Search" />
    <input id="searchgo" type="submit" value="Go" />
  </form>
</td>