body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* Page Layout */
#layout {
  width: 99vw;
  height: 100vh;
  border-collapse: collapse;
}

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* <tr id="header"> */
#layout #header {
  height: 8vh;
}

/* vvvvvvvvvvvvvvvv */
/* <td id="nav"> */
#layout #header #nav {
  width: 16vw;
  min-width: 128px;
}

#homeicon {
  max-height: 48px;
  width: auto;
  max-width: 128px;
}

/* ^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvv */
/* <td id="search"> */
#searchfield {
  height: 32px;
  width: 32vw;
  padding-left: 32px;
  border: none;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  margin-right: 0;
  font-weight: 900;
}

#searchfield:focus {
  outline: none;
}

#searchform {
  display: inline-flex;
}

#searchgo {
  height: 32px;
  width: 40px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  color: transparent;
  margin-left: -8px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/22/Google_Magnifying_Glass.svg') no-repeat 4px 0px;
}

/* ^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvv */
/* <td id="auth"> */

/* ^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* <tr id="page"> */

/* vvvvvvvvvvvvvvvv */
/* <td id="content"> */
#content {
  vertical-align: top;
  padding: 16px;
  padding-left: 18vw;
  padding-right: 18vw;
}

#content-wrapper {
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  padding: 16px;
  text-align: left;
  font-weight: 900;
  text-shadow: none;
}

code {
  background-color: black;
  padding: 16px;
  padding-bottom: 8px;
  text-shadow: none;
  width: 96%;
  display: flex;
  border-radius: 4px;
  margin: 16px;
}

code p {
  width: 92%;
  /* white-space: pre-wrap; */
}

.copy-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('/images/clipboard.png');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  outline: none;
  margin-left: auto;
}

.copy-btn:active {
  outline: none;
  background-image: url('/images/checkmark.png');
}

#layout #header #nav,
#layout #header #auth,
#options,
#content,
#appbar,
#layout #footer td {
  text-align: center;
}

/* ================================================================================== */