/* Dev Color Scheme */
/* #layout #header #nav {
  background-color: rgb(255, 0, 0);
}

#layout #header #search {
  background-color: rgb(0, 255, 0);
}

#layout #header #auth {
  background-color: rgb(0, 0, 255);
}

#layout #page {
  background-color: grey;
}

#layout #page #options {
  background-color: rgb(255, 255, 0);
}

#layout #page #content {
  background-color: rgb(0, 255, 255);
}

#layout #page #appbar {
  background-color: rgb(255, 0, 255);
} */

/* ================================================================ */
/* Official Colors  */
/* Primary */
/* 1C3879 */
/* Secondary */
/* 607EAA */
/* Auxilary */
/* EAE3D2 */
/* Tertiary */
/* F9F5EB */
/* #layout #header,
.dropdown {
  background-color: #1C3879;
}

#searchfield {
  background-color: #F2EBE9;
  caret-color: #1B2430;
  color: #1B2430;
}

#searchgo {
  border: none;
  background-color: #607EAA;
  color: transparent;
}

#layout #page {
  background-color: #F2EBE9;
} */

/* ================================================================ */