:root {
  --header: #00fffb;
  --buttons: #95bb76;
  --background: #d3f7ad;
  --text: #2f2e21;
  --overlays: rgba(0, 128, 128, 0.5);
}

#overlay-right,
#overlay-left,
#content-wrapper {
  background-color: var(--overlays);
}

#layout #page,
#searchfield {
  background-color: var(--background);
}

#searchgo,
input,
select {
  background-color: var(--buttons);
}

.active-tab {
  color: var(--buttons);
}

#searchfield,
body {
  caret-color: var(--text);
  color: var(--text);
}

#overlay-top,
.dropdown,
.active-tab {
  background-color: var(--header);
}