:root {
    --header: #0b952b;
    --buttons: #f93b3b;
    --background: url("https://i.pinimg.com/originals/4c/9b/f2/4c9bf25a605dcddfd12af2658fc7c5f7.gif");
    --text: #053811;
    --overlays: rgba(128, 128, 128, 0.75);
}

#overlay-right,
#overlay-left,
#content-wrapper {
    background-color: var(--overlays);
}

#layout #page,
#searchfield {
    background: var(--background);
    background-size: cover;
}

#searchgo,
input,
select {
    background-color: var(--buttons);
}

.active-tab {
    color: var(--buttons);
}

#searchfield,
body {
    caret-color: var(--text);
    color: var(--text);
}

#overlay-top,
.dropdown,
.active-tab {
    background-color: var(--header);
}