:root {
    --header: #256D85;
    --buttons: #31E1F7;
    --background: url("https://i.pinimg.com/originals/4a/58/30/4a583012096c4fac38ad11c1d4b7205d.gif");
    --text: #051138;
    --overlays: rgba(128, 128, 128, 0.75);
}

#overlay-right,
#overlay-left,
#content-wrapper {
    background-color: var(--overlays);
}

#layout #page,
#searchfield {
    background: var(--background);
    background-size: cover;
}

#searchgo,
input,
select {
    background-color: var(--buttons);
}

.active-tab {
    color: var(--buttons);
}

#searchfield,
body {
    caret-color: var(--text);
    color: var(--text);
}

#overlay-top,
.dropdown,
.active-tab {
    background-color: var(--header);
}