:root {
    --header: #25316d;
    --buttons: #8758FF;
    --background: url("https://img.itch.zone/aW1nLzU0Nzc4NDMuZ2lm/original/g1dIhn.gif");
    --text: #300538;
    --overlays: rgba(128, 128, 128, 0.5);
}

#overlay-right,
#overlay-left,
#content-wrapper {
    background-color: var(--overlays);
}

#layout #page,
#searchfield {
    background: var(--background);
    background-size: cover;
}

#searchgo,
input,
select {
    background-color: var(--buttons);
}

.active-tab {
    color: var(--buttons);
}

#searchfield,
body {
    caret-color: var(--text);
    color: var(--text);
}

#overlay-top,
.dropdown,
.active-tab {
    background-color: var(--header);
}