:root {
    --header: #252c2e;
    --buttons: #a33a23;
    --background: url("https://64.media.tumblr.com/7e357e40946d7f7eccab04d4ee87e117/tumblr_nkqcyn5T5K1qciqqno4_1280.gif");
    --text: #ff6200;
    --overlays: rgba(0, 0, 0, 0.5);
}

#overlay-right,
#overlay-left,
#content-wrapper {
    background-color: var(--overlays);
}

#layout #page,
#searchfield {
    background: var(--background);
    background-size: cover;
}

#searchgo,
input,
select {
    background-color: var(--buttons);
}

.active-tab {
    color: var(--buttons);
}

#searchfield,
body {
    caret-color: var(--text);
    color: var(--text);
}

#overlay-top,
.dropdown,
.active-tab {
    background-color: var(--header);
}