:root {
  --header: #1c3879;
  --buttons: #8eb7f5;
  --background: #f2ebe9;
  --text: #1b2430;
}
#layout #page,
#searchfield {
  background-color: var(--background);
}
#searchgo,
input,
select {
  background-color: var(--buttons);
}
.active-tab {
  color: var(--buttons);
}
#searchfield,
body {
  caret-color: var(--text);
  color: var(--text);
}
#overlay-top,
.dropdown,
.active-tab {
  background-color: var(--header);
}
