<%- include('../../_layout/_meta/pagewrap-start') %>

    <div id="content-wrapper">
        Here is a guide on using Jira in a local container
        <hr>
        Here's a helpful link <a
            href="https://community.atlassian.com/t5/Jira-articles/How-to-run-Jira-in-a-docker-container/ba-p/752697">https://community.atlassian.com/t5/Jira-articles/How-to-run-Jira-in-a-docker-container/ba-p/752697</a>
        <hr>
        I did notice a few important changes that have to be made for this to work in Podman, which are as follows. To
        actually pull and run the image, use this command:
        <code>
            docker run --detach --net host --mount type=volume, src=jirahome,target=/var/atlassian/jira --publish 8080:8080 docker.io/cptactionhawk/atlassion-jira:latest
        </code>
        This command allows podman to recognize docker io and successfully mount the volume. Once it's done, you can
        navigate to
        <code>
            localhost:8080
        </code>
        in your browser and connect your Jira account. Unfortunately, it does require internet access to setup at the
        least; I have yet to test it in regards to connectivity once setup is complete.
    </div>
    <%- include('../../_layout/_meta/pagewrap-end') %>