<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Node Boilerplate</title>
  <%- include('styles.ejs') %>
</head>

<body>
  <table id="layout">
    <tbody>
      <%- include('../_layout/header/row.ejs') %>

        <tr id="page">
          <td id="options"></td>
          <td id="content">Content</td>
          <%- include('../_layout/page/cell/appbar.ejs') %>
        </tr>
    </tbody>
  </table>
</body>

</html>