<%- include('_layout/_meta/pagewrap-start') %>

  <div id="content-wrapper">
    <center>
      <h2>Welcome to the Ironclad NodeJS Server</h2>
    </center>
    <hr>
  </div>
  <%- include('_layout/_meta/pagewrap-end') %>