<%- include('../../_layout/_meta/pagewrap-start') %>

  <div id="content-wrapper">
    <center>
      <h4>Javascript: Copy to Clipboard button</h4>
    </center>
    <hr>
    This guide is short; if you want Git to remember your credentials, use the following command.
    <code>
      <p id="code1">git config --global credential.helper store</p>
      <button 
        id="copy1" 
        onclick="copyToClipboard('p#code1', 'copy1')" 
        class="copy-btn">
      </button>
    </code>
    The next time you need to authenticate, it will automatically save those values for you. 
  </div>
<%- include('../../_layout/_meta/pagewrap-end') %>