<%- include('../_layout/_meta/pagewrap-start') %>
    <div id="content-wrapper">
        <center>
            Don't have an account yet?
            <a href="/auth/register">
                <h5>Sign Up Here</h5>
            </a>
        </center>
        <div class="login">

            <% try { %>
                <span style="color:red">
                    <%- red_message %>
                </span>
                <% } catch {} %>
                    <% try { %>
                        <span style="color:forestgreen">
                            <%- green_message %>
                        </span>
                        <% } catch {} %>

                            <h1>Login</h1>

                            <form action="/auth/login" method="post" class="authform">
                                <label for="username">
                                    <!-- font awesome icon -->
                                    <i class="fas fa-user"></i>
                                </label>
                                <input maxlength="255" type="text" name="username"
                                    placeholder="Username" id="username" required />
                                <label for="password">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password" placeholder="Password"
                                    id="password" required />
                                <a href="/auth/forgot-password">Forgot Password?</a>
                                <input type="submit" value="Login" />

                            </form>

        </div>
    </div>
<%- include('../_layout/_meta/pagewrap-end') %>