<%- include('../_layout/_meta/pagewrap-start') %>
    <div id="content-wrapper">
        <center>
            Don't have an account yet?
            <a href="/auth/register">
                <h5>Sign Up Here</h5>
            </a>
        </center>
        <div class="login">

            <% try { %>
                <span style="color:red">
                    <%- red_message %>
                </span>
                <% } catch {} %>
                    <% try { %>
                        <span style="color:forestgreen">
                            <%- green_message %>
                        </span>
                        <% } catch {} %>

                            <h1>Register</h1>
                            <form action="/auth/register" method="post"
                                onSubmit="return checkPassword(this)">
                                <label for="email">
                                    <i class="fas fa-envelope"></i>
                                </label>
                                <input maxlength="255" type="text" name="email" placeholder="Email"
                                    id="email" required />

                                <label for="username">
                                    <i class="fas fa-user"></i>
                                </label>
                                <input maxlength="255" type="text" name="username"
                                    placeholder="Username" id="username" required />

                                <label for="password1">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password1" placeholder="Password"
                                    id="password1" required />

                                <label for="password2">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password2" placeholder="Confirm Password"
                                    id="password2" required />

                                <input type="submit" value="Register" />

                            </form>
        </div>

    </div>
<%- include('../_layout/_meta/pagewrap-end') %>