<%- include('../_layout/_meta/pagewrap-start') %>
    <div id="content-wrapper">
        <center>
            Don't have an account yet?
            <a href="/auth/register">
                <h5>Sign Up Here</h5>
            </a>
        </center>
        <div class="login">
            <h1>Success</h1>

            <% try { %>
                <span style="color:red">
                    <%- red_message %>
                </span>
                <% } catch {} %>
                    <% try { %>
                        <span style="color:forestgreen">
                            <%- green_message %>
                        </span>
                        <% } catch {} %>
        </div>

    </div>
<%- include('../_layout/_meta/pagewrap-end') %>
